@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.navbar {
    background-color: lightgoldenrodyellow;
    height: 80;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #808080;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #FF1493;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}




.s-img {

    margin-top: 90px;
    margin-left: 5px ;
    margin-right: 10px;
    border-radius: 10px;
}

.story-pic {

    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;

}

.story {

    margin-top: 20px;

}

.btn1 {
    background-color: lightgoldenrodyellow;
    height: 150;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    text-align: center;
}

.btn {
    background-color: lightgoldenrodyellow;
    height: 150;
    width: 100%;
    margin: 10px;
    border-radius: 16px;
    padding: 0.5rem;
}

.footer {
    background-color: lightgoldenrodyellow;
    
}

h3 {
  font-size: 14px; 
  letter-spacing: 2px; 
  font-weight: 500;
  margin-bottom: 30px;
}

.bi {
    color: #f17e7e !important;
    font-size: 1.6rem !important;
    margin-right: 8px !important;
}

/*Catchy phrase styling */
.c-phrase h3{
    text-decoration-color: #FF1493;
}

/*Find store styling */

.findStore {
    width: 100%;
    height: 40vh;
    background: url("Picture Archives/hair 2.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    transform: rotateX('180') ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 10px;


}

.content {
    text-align: center;
}

.content h1 {
    font-size: 85px;
    color: #fff;
    margin-bottom: 50px;
}

.content h3 {
    font-size: 30px;
    text-align: center;
    color: #000;
    
}

.content a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
}

.content a:hover{
    background-color: #fff;
    color: #000;
    
}

.background-pic{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-pic{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-pic{
        width: auto;
        height: 100%;
    }
}

